
<div class="navc">
    <div class="navc-main">

        <div class="navc-header">
            <div class="navc-logo"><a href="/"><img src="logo/logo_gif2.gif"></a></div>
        </div>

        <div class="navc-content">

            <a type="button" href="/login" class="btn btn-outline-dark navc-btn navc-btn-login">Log in</a>
            <a type ="button" href="/register" class="btn btn-outline-dark navc-btn navc-btn-create-account">Create an account</a>

            <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    
                 <button class="navbar-toggler py-0" data-toggle="collapse" data-target="collapse_target">
                    <span class="navbar-toggler-icon py-0"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="collapse_target">
                    <ul class="navbar-nav">
                        
                        <li class="nav-item">
                            <a class="nav-link py-0" href="#">Link 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0" href="#">Link 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0" href="#">Link 3</a>
                        </li>
                    </ul>
                </div>
            </nav> -->
        </div>
    </div>

</div>