<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/signup.css" rel="stylesheet">
    <script src="/script/signup.js"></script>

    <style>
        

    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="text-center">SIGNUP</h1>
                    {{!-- <div class="alert alert-info" role="alert">
                        {{error}}
                    </div> --}}
                <form action="/register" method="POST">
                    <label for="" class=" label col-md-3 control-label">Firstname</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="firstname" id="firstName" placeholder="Firstname">
                        <div class="tool-tip  slideIn firstname-error"></div>
                    </div>
                    <label for="" class="label col-md-3 control-label">Lastname</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="lastname" id="lastName" placeholder="Lastname">
                         <div class="tool-tip  slideIn lastname-error"></div>
                    </div>
                    <label for="" class="label col-md-3 control-label">E-mail</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="username" id="email" placeholder="E-mail">
                         <div class="tool-tip  slideIn email-error"></div>
                    </div>
                    <label for="" class="label col-md-3 control-label">City</label>
                    <div class="col-md-9">
                        <select type="text" id="selection" class="form-control formCity" name="city">
                        <option selected="true" disabled>City</option>
                        {{#each data}}
                            <option value={{this}}>{{this}}</option>
                        {{/each}}
                            
                        </select>
                    </div>
                    <label for="" class="label col-md-3 control-label">Gender</label>
                    <div class="col-md-9">
                        <select name="gender" id="selection" class="form-control formGender">
                            <option value="Gender" selected="true" disabled>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <label for="" class="label col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="password" id="passWord"
                            placeholder="Password">
                        <div class="tool-tip  slideIn password-error"></div>
                    </div>
                    <label for="" class="label col-md-3 control-label">Re-Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="ConfirmPassWord" placeholder="Re-Password">
                         <div class="tool-tip  slideIn Cpassword-error"></div>
                    </div>
                    <div class="row text-center mt-4">
                        <div class="col">
                            <button type="Submit" class="btn buuup btn-info" disabled>Sign Up</button>
                        </div>
                    </div>
                     <div class="row text-center mt-4">
                        <div class="col">
                            <p style="color: white;">Already have an account? <a href="/login">&nbsp;Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="successModal">
        <div class="modal-dialog">
        <div class="modal-content">
            
            <!-- Modal body -->
            <div class="modal-body">
            Signup successfull, Please head to login!
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" href="/login">Login</a>
            </div>
            
        </div>
        </div>
    </div>
  
    
</body>
<script>
    $(document).ready(function () {
        $("#navigation-bar").load("/navigation_bar/nav_guest/nav_guest.hbs");
</script>

</html>