@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.fa-camera{
    font-size: 35px;
    color: grey;
}
div.main-div{
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    margin-top: 25px;
}

div.sub-main-div{
    display: flex;
    width:100%;
    max-width: 1120px;
}

div.side-bar{
    width: 250px;
    border: 1px solid rgba(0,0,0,0.4);
    height: 400px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 2px 3px rgba(0,0,0, 0.5);
    margin-right: 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 900px) {
    div.side-bar{
        display: none;
    }
  }

ul.select-list{
    display: flex;
    padding: 0;
    margin-top: 10px;
}

ul.select-list li{
    list-style: none;
    width: 70px;
    font-size: 16px;
    color:black;
    opacity: 0.6;
    border-bottom: 2px solid white;
    text-align: center;
}

ul.select-list li.active{
    color:rgba(19, 85, 171,0.9);
    opacity: 1;
    border-bottom: 2px solid rgb(19, 85, 171,0.9);
}

div.event-post-div{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.4);
    height: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 2px 3px rgba(0,0,0, 0.5);
    padding: 2px
}

div.task-post-div{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.4);
    height: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 2px 3px rgba(0,0,0, 0.5);
    padding: 2px
}

div.cover-photo{
    display:block;
    height:65px;
    width:100%;
    background:gray;
    position:relative;
    margin-bottom:45px;
}

div.profile-photo{
    position:absolute;
    height:80px;
    width:80px;
    border-radius:40px;
    left:45%;
    margin-left:-30px;
    top: 25px;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 2px 3px rgba(0,0,0, 0.5);
}

div.profile-photo img{
    height: 95%;
    width: 95%;
    border-radius: 40px;
}

div.side-bar hr{
    display: block;
    color: #333;
    border: none;
    background: #333;
    height: 1px;
}

div.sidebar-header{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color:black;
    margin-top: 72px;
}

div.sidebar-link{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color:black;
}

div.sidebar-location{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color:rgb(0,0,0,0.6);
}

div.create-post{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    display: flex;
    height: 40px;
    align-items: center;
}

div.event-div{
    display: block;
    width: 100%;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0,0.4);
    border-radius: 3px;
    margin-top: 7px;
    padding: 0px 5px 0px 5px;
}

div.event-outer{
    height: fit-content;
}

div.author-details{
    display: flex;
    width: 100%;
    height: 50px;
    text-transform: capitalize;
    padding-top: 5px;
}

div.author-photo{
    max-height:40px;
    max-width:40px;
    border-radius:40px;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 2px 3px rgba(0,0,0, 0.5);
}


div.author-photo img{
    height: 70%;
    width: 70%;
}

div.event-content{
    display: flex;
    height: fit-content;
}

div.event-div .event-image{
    max-width: fit-content
}

div.event-div .event-image img{
    height: 120px;
    width: 220px;
}

@media only screen and (max-width: 900px) {
    div.event-div .event-image img {
        height: 106px;
        width: 165px;
    }
  }


div.event-details{
    width: 100%;
    padding: 2px 5px 0 5px;
}

div.event-details .event-name{
    font-size: 15px;
    color: rgba(0,0,0,0.9);
    text-transform: capitalize;
    margin-bottom: 3px;
}

div.event-details .event-city{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    text-transform: capitalize;
}

div.event-details .event-description{
    font-size: 14px;
    margin-top: 10px;
    color: rgba(0,0,0,0.8);
}

div.event-details{
    display: block;
    line-height: 1;
    margin-top: 3px;
}


div.event-details p{
    margin:none;
}


div.post-reaction{
    border-top: 1px solid rgba(0, 0, 0,0.4);
    margin-top: 5px;
    height: 25px;
    display: flex;
    align-items: center;
}

div.post-reaction *{
    display: flex;
}

div.post-reaction div.likes-count{
    margin-left: 6px;
    font-weight: 400;
    font-size: 15px;
    align-items: center;
    color: rgba(0,0,0,0.8);
}


div.post-reaction .fa-heart{
   color: rgba(255, 0, 0,0.8);
}

div.task-content{
    display: flex;
    height: fit-content;
}

div.task-div .task-image{
    max-width: fit-content
}

div.task-div .task-image img{
    height: 120px;
    width: 220px;
}

@media only screen and (max-width: 900px) {
    div.task-div .task-image img {
        height: 106px;
        width: 165px;
    }
  }

div.task-details{
    width: 100%;
    padding: 2px 5px 0 5px;
}

div.task-details .task-name{
    font-size: 15px;
    color: rgba(0,0,0,0.9);
    text-transform: capitalize;
    margin-bottom: 3px;
}

div.task-details .task-city{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    text-transform: capitalize;
}

div.task-details .task-description{
    font-size: 14px;
    margin-top: 10px;
    color: rgba(0,0,0,0.8);
}

div.task-details{
    display: block;
    line-height: 1;
    margin-top: 3px;
}

div.task-details p{
    margin:none;
}


div.task-reaction{
    border-top: 1px solid rgba(0, 0, 0,0.4);
    margin-top: 5px;
    height: 25px;
}


div.task-reaction .fa-heart{
   color: rgba(255, 0, 0,0.8);
}

div.task-div{
    display: block;
    width: 100%;
    height: 200px;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0,0.4);
    border-radius: 3px;
    margin-top: 7px;
    padding: 0px 5px 0px 5px;
}

div.task-outer{
    height: fit-content;
}

div.hideDiv{
    display: none;
    
    -webkit-transition: display 2s; /* For Safari 3.1 to 6.0 */
    transition: display 2s;
}

.profile-photo {
    position: relative;
    width: 50%;
  }
  
  .photo-hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .profile-photo:hover .photo-hover {
    opacity: 0.3;
  }
  
  .profile-photo:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: transparent;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }