@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;

}

h1 {
    font-size: 40px;
    color: grey;
    margin-top: 20px;
    margin-bottom: 30px;
}

.label {
    font-size: 19px;
    margin-top: 20px;
    font-weight: normal;
}

.form-control {
    background: white;
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px solid white;
    font-size: 21px;
    margin-top: 20px;
}

.option {
    color: white;
}

.btn-info {
    margin-top: 20px;
    margin-left: 50px;
    width: 180px;
    font-size: 19px;
    border-radius: 1000px;
}

.col-md-6 {
    background: rgba(0, 0, 0, 0.4);
    height: 660px;
    width: 800px;
    box-shadow: -1px 1px 120px 20px rgba(0, 0, 0, 0.1) inset;
}
#selection{
    height: 42px;
}

.tool-tip{
	color: #fff;
	background-color: rgba( 255, 0, 0, 0.75);
	text-shadow: none;
	font-size: .8em;
	visibility: hidden;
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; 
	-o-border-radius: 7px; 
	border-radius: 7px;	
	text-align: center;	
	opacity: 0;
	z-index: 999;
	padding: 3px 8px;	
	position: absolute;
	cursor: default;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;	
}

.tool-tip,
.tool-tip.top{
	top: auto;
	bottom: 80%;
	left: 50%;		
}

.tool-tip.top:after,
.tool-tip:after{
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -7px;
	content: ' ';
	height: 0px;
	width: 0px;
	border: 6px solid transparent;
    border-top-color: rgba( 255, 0, 0, .7);	
}
.show-error{
	visibility: visible;
	opacity: 1;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;		
}



/* tool tip slide out */

/* *:not(.on-focus) > .tool-tip.slideIn,
.on-focus > .tool-tip{
	display: block;
}

.on-focus > .tool-tip.slideIn{
	z-index: -1;
}

.on-focus > input:focus + .tool-tip.slideIn{
	z-index: 1;
} */

/* top slideIn */
/* 
*:not(.on-focus) > .tool-tip.slideIn,
*:not(.on-focus) > .tool-tip.slideIn.top,
.on-focus > .tool-tip.slideIn,
.on-focus > .tool-tip.slideIn.top{
	bottom: 50%;
}

*:not(.on-focus):hover > .tool-tip.slideIn,
*:not(.on-focus):hover > .tool-tip.slideIn.top,
.on-focus > input:focus + .tool-tip.slideIn,
.on-focus > input:focus + .tool-tip.slideIn.top{
	bottom: 80%;
} */
